.contactsBlock {
    height: 100vh;
    background-color: #eeda74;
}

.contactsContainer {
    flex-direction: column;
    /*justify-content: flex-start;*/
}

.title {
    background-color: aliceblue;
}

.formContainer {
    border: 1px solid;

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    width: 100%;
}

/*.aContainer {*/
/*    border: 1px solid;*/
/*    padding: 5px 20px;*/
/*    background-color: aliceblue;*/
/*}*/

.submitBtn {
    border: 1px solid;
    padding: 10px 20px;
    background-color: aliceblue;
}

@media screen and (max-width: 455px) {
    .formContainer {
        width: 100%;
    }
}