@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contactsBlock {
  height: 60vh;
  background-color: $bgColor;

  .contactsContainer {
    @include container();
    @include flex(column, space-around, center, wrap);
    //flex-direction: column;
    //align-items: center;
    //justify-content: space-around;

    .formContainer {
      width: 70%;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & input {
        width: 100%;
        box-shadow: none;
        border: none;
        background: $textSecondaryColor;
        border-radius: 0;
        color: $bgSecondaryColor;
        padding: 15px;
        height: 50px;
      }

      & textarea {
        width: 100%;
        box-shadow: none;
        border: none;
        background: $textSecondaryColor;
        border-radius: 0;
        color: $bgSecondaryColor;
        height: 100px;
        padding: 15px;
        margin: 0 0 20px;
      }

      @media screen and (max-width: 455px) {
        width: 100%;
      }

    }

    .submitBtn {
      border: 1px solid $textSecondaryColor;
      padding: 10px 30px;
      margin: 0 0 5px;
      border-radius: 2px;
      background-color: transparent;
      text-decoration: none;
      color: $textSecondaryColor;
      cursor: pointer;

      -webkit-transition: all .5s;
      transition: all .5s;
      @include text(600, 14px, uppercase, 1px, 1.2);


      &:hover {
        text-decoration: none;
        background-color: $textSecondaryColor;
        color: $bgColor;
      }
    }

  }
}


/*.title::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: #b42f53;*/
/*    width: 100px;*/
/*    height: 3px;*/

/*    !*Позиционирование псевдоэлемента*!*/
/*    bottom: -30px;*/
/*    left: 50%;*/
/*    !*Выравнивание по центру*!*/
/*    transform: translate(-50%, 50%);*/
/*}*/


