@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/components/Button/Button.module";

.contactsBlock {
  //height: 60vh;
  background-color: $bgColor;

  .contactsContainer {
    @include container();
    @include flex(column, space-around, center, wrap);

    .formContainer {
      margin: 40px 0 10px 0;
      width: 70%;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include text(400, 14px, none, 1px, 1.8);

      .formArea,
      .commentArea {
        width: 80%;
        box-shadow: none;
        border: 1px solid $bgSecondaryColor;
        border-radius: 2px;
        background: $bgSecondaryColor;
        color: $textSecondaryColor;
        padding: 15px;

        &:focus {
          transition: all 0.4s ease-in-out 0s;
          box-shadow: 5px 5px 5px -3px $textSecondaryColor;
        }
      }

      .formArea {
        height: 50px;
      }

      .commentArea {
        height: 100px;
        margin: 0 0 20px;
        resize: none;
      }

      @media screen and (max-width: 455px) {
        width: 100%;
      }
    }

    .sbtBtn {
      @extend .btn;
      background-color: $bgColor;
      max-width: none;
      @include text(600, 14px, uppercase, 1px, 1.2);
    }
  }
}