@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.remoteBlock {
  height: 30vh;
  background-color: $bgSecondaryColor;
  @media screen and (max-width: 1040px) {
    height: 40vh;
  }

  .remoteContainer {
    @include container();
    @include flex(column, space-around, center, wrap);
    flex-direction: column;
    justify-content: space-around;

    .viewBtn {
      @include text(600, 14px, uppercase, 1px, 1.2);
    }
  }
}