@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.remoteBlock {
  height: 30vh;
  background-color: $bgSecondaryColor;
  @media screen and (max-width: 1040px) {
    height: 40vh;
  }

  .remoteContainer {
    flex-direction: column;
    justify-content: space-around;

    .viewBtn {
      border: 1px solid $textSecondaryColor;
      padding: 10px 30px;
      margin: 0 0 5px;
      border-radius: 2px;
      background-color: transparent;
      text-decoration: none;
      color: $textSecondaryColor;

      -webkit-transition: all .5s;
      transition: all .5s;
      @include text(600, 14px, uppercase, 1px, 1.2);

      &:hover {
        text-decoration: none;
        background-color:$textSecondaryColor;
        color: $bgSecondaryColor;
      }
    }
  }
}