.projectsBlock {
    /*min-height: 100vh;*/
    background-color: #9374ee;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    margin: 0 0 30px;
    font-size: 30px;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    letter-spacing: 3px;

    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    background: #b42f53;
    width: 55px;
    height: 3px;

    /*Позиционирование псевдоэлемента*/
    bottom: -30px;
    left: 50%;
    /*Выравнивание по центру*/
    transform: translate(-50%, 50%);
}

.projects {
    margin-top: 30px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1275px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}