@import "src/common/styles/sass/variables";

.social {
  margin: 5px;
  padding: 5px;
  background-color: $bgSecondaryColor;
  border-radius: 3px;

  &:hover {
    background-color: $textSecondaryColor;
    transition: all 0.4s ease-in-out 0s;
  }
}
