@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  margin: 30px 0 30px;
  position: relative;
  -webkit-text-stroke: 1px $textColor;
  color: $textSecondaryColor;

  @include text(900, 40px, uppercase, 3px, 1.2);

  @media screen and (max-width: 630px) {
    font-size: 30px;
  }

  &::before {
    border-radius: 2px;
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 100px;
    height: 3px;
    /*Позиционирование псевдоэлемента*/
    bottom: -30px;
    left: 50%;
    /*Выравнивание по центру*/
    transform: translate(-50%, 50%);
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }
}