@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/components/Button/Button.module";

.nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: auto;

  a {
    @include text(400, 16px, none, 1px, 1.2);
    @extend .btn;
    padding: 10px 10px;

    &::after {
      height: 3px;
    }

    &:hover {

      &::after {
        border-radius: 2px;
        width: 100%;
        left: 0;
        opacity: 0.8;
        height: 110%;
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }

  .active {
    @include text(400, 16px, none, 1px, 1.2);

    &::after {
      height: 10px;
    }

  }

  @media screen and (max-width: 399px) {
    display: none;
  }
}
