@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.btn {
  text-decoration: none;
  border: none;
  padding: 10px 30px;
  width: 100%;
  max-width: 160px;
  outline: none;
  color: $textSecondaryColor;
  transition: all .5s;
  position: relative;
  z-index: 0;
  cursor: pointer;

  &::after {
    border-radius: 2px;
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    height: 10px;
    background-color: $primaryColor;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    color: $textSecondaryColor;

    &::after {
      border-radius: 2px;
      width: 100%;
      left: 0;
      opacity: 0.8;
      height: 110%;
      transition: all 0.3s ease-in-out 0s;
    }
  }
}