@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/shake";

.skill {
  width: 200px;
  /*background-color: #d5bcc2;*/
  @include flex(column, center, center, wrap);
  text-align: center;
  padding: 20px;

  .skillWrap {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid $textSecondaryColor;
    @include flex(column, center, center, wrap);
    .icon {
      //@extend .shake.freez.shake-slow;
      & img {
        height: 50px;
        width: 50px;
      }
    }
    &:hover .icon {
      @extend .shake.freez.shake-slow;
    }
  }


  .title {
    margin: 10px 5px;
    color: $textSecondaryColor;

    @include text(600, 20px, uppercase, 1px, 1.2);
  }

  .description {

  }
}