.skill {
    width: 250px;
    /*background-color: #d5bcc2;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.8;
    text-transform: uppercase;
}


/*.icon {*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    !*background-color: aqua;*!*/
/*    !*background-image: url('./../../assets/SvgIcons/react.svg');*!*/
/*}*/

/*.description {*/

/*}*/