@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .image {
    height: 250px;
    width: 100%;
    max-width: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.1;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .viewBtn {
      @include text(600, 20px, uppercase, 1px, 1.2);
    }

    .description {
      margin-top: 20px;
    & span{
      color: $textSecondaryColor;

      @include text(400, 14px, none, 1px, 1.8);
    }
    }
  }
}