@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.nav {
  /*border: 1px solid white;*/
  margin-right: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;

  a {
    margin: 0 0 5px;
    text-decoration: none;
    color: $textSecondaryColor;
    position: relative;

    @include text(400, 16px, none, 1px, 1.2)
  }
}