@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/common/components/Button/Button.module";

.nav {
  margin-right: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;

  //a {
  //  margin: 0 0 5px;
  //  text-decoration: none;
  //  color: $textSecondaryColor;
  //  position: relative;
  //
  //  @include text(400, 16px, none, 1px, 1.2)
  //}

  .btn {
    @include text(400, 16px, none, 1px, 1.2);
    @extend .btn;
    padding: 10px 10px;
    &::after {
      height: 10px;
    }

    &:hover {

      &::after {
        border-radius: 2px;
        width: 100%;
        left: 0;
        opacity: 0.8;
        height: 110%;
        transition: all 0.3s ease-in-out 0s;
      }
    }

  }
}