.skillsBlock {
    /*min-height: 100vh;*/
    /*background-color: #ee74ca;*/
    background-color: #2A2A2AFF;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.skills {
    margin-top: 30px;
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*@media screen and (max-width: 1275px) {*/
/*    .skills {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/