@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-image: url('../assets/image/mainPhoto1.jpg');
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 800px) {
    background-position: center top;
  }

  .container {
    @include container();
    @include flex(row, space-between, flex-end, wrap);

    .greeting {
      margin-bottom: 120px;

      .firstName {
        -webkit-text-stroke: 1px $textColor;
        color: $textSecondaryColor;
        @include text(900, 70px, uppercase, 3px, 1.2);
        @media screen and (max-width: 720px) {
          font-size: 45px;
        }
        @media screen and (max-height: 850px) {
          font-size: 45px;
        }
        @media screen and (max-width: 480px) {
          font-size: 30px;
        }

      }

      .secondName {
        font-size: 70px;
        -webkit-text-stroke: 1px $textSecondaryColor;
        color: $textColor;
        @include text(900, 70px, uppercase, 3px, 1.2);
        @media screen and (max-width: 720px) {
          font-size: 45px;
        }
        @media screen and (max-height: 850px) {
          font-size: 45px;
        }
        @media screen and (max-width: 480px) {
          font-size: 30px;
        }

      }

      .description {
        margin: 0 0 5px;
        color: $textSecondaryColor;

        @include text(400, 14px, none, 1px, 1.8);
      }
    }
  }
}