.mainBlock {
    height: 100vh;
    background-color: #bd7387;
}

.greeting {
    width: 300px;
    background-color: #d5bcc2;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
}