@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-image: url('../assets/image/mainPhoto1.jpg');
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting {
  margin-top: 550px;
}

.firstName {
  -webkit-text-stroke: 1px $textColor;
  color: $textSecondaryColor;

  @include text(900, 35px, uppercase, 3px, 1.2);
}

.secondName {
  font-size: 70px;
  -webkit-text-stroke: 1px $textSecondaryColor;
  color: $textColor;

  @include text(900, 70px, uppercase, 3px, 1.2);
}

.description {
  margin: 0 0 5px;
  color: $textSecondaryColor;

  @include text(400, 14px, none, 1px, 1.8);
}

@media screen and (max-width: 800px) {
  .mainBlock {
    background-position: center top;
  }
  .greeting {
    margin-top: 300px;
  }
}

@media screen and (max-width: 720px) {
  .mainBlock {
    background-position: center top;
  }

  .firstName {
    font-size: 25px;
  }
  .secondName {
    font-size: 45px;
  }
}

@media screen and (max-width: 480px) {
  .firstName {
    font-size: 15px;
  }
  .secondName {
    font-size: 30px;
  }
}