@mixin text($fontWeight, $fontSize,$textTransform, $letterSpacing, $lineHeight) {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  text-transform: $textTransform;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}

@mixin container() {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}