.footerContainer {
    flex-direction: column;
}

.footerBlock {
    height: 200px;
    background-color: #74ee9b;
}

.title {
    -webkit-text-stroke: 1px #000;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}

.titleFoot {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #000;
}

.socialContainer {
    border: 1px solid;
    width: 240px;
    height: 40px;
    background-color: #9374ee;
    display: flex;
    justify-content: space-between;
}

.social {
    height: 100%;
    width: 40px;
    background-color: #eeda74;
}