@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  height: 20vh;
  background-color: $bgSecondaryColor;


  .footerContainer {
    @include container();
    @include flex(column, space-around, center, wrap);
    padding-top: 20px;

    .title {
      color: $textSecondaryColor;
      position: relative;
      padding-bottom: 15px;
      @include text(600, 20px, uppercase, 1px, 1.2);
    }

    .socialContainer {
      width: 250px;
      @include flex(row, space-between, center, wrap);

      .social {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $bgSecondaryColor;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          background-color: $primaryColor;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }

  .titleFoot {
    h6 {
      color: $textSecondaryColor;
      @include text(400, 12px, none, 1px, 1.2);
    }
  }
}
